<h2>TodoList</h2>
<div class="flex-container">
    <div class="flex-item item1">
<input type="text" class="form-control" placeholder="add task" [(ngModel)]="newtodo">
    </div>
    <div class="flex-item item2">
<button class="btn btn-warning float-end" (click)="addTask()">Add Task</button>
    </div>
   



</div>
<div class="list">
   <table> <tr *ngFor="let elt of Todos; let i = index">
        <td>{{i+1}}.&nbsp;</td>
        <td [ngClass]="{'done': !elt.isCompleted}" (click)="done(i)" [ngStyle]="{width:'250px'}">{{elt.name}}</td>
        <td><button class="btn btn-danger" (click)="remove(i)">x</button></td>
    </tr>
</table>
</div>