.grid-container{
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: center;
    gap: 5px;
   // align-content: center;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
h3{
    text-align: center;
}
ul li {
    list-style-type: none;
    padding: 10px;
}